<div class="well">
  <%= form_for :online_aggregate, :url => url_for(:action=>'parse_online', :controller=>'aggregates') do |f| %>      <% if aggregate.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(aggregate.errors.count, "error") %> prohibited this aggregate from being saved:</h2>

            <ul>
              <% aggregate.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-1">
                <%= f.label 'URL'%>
              </div>
              <div class="col-sm-11">
                <input type="text" name="file" placeholder="Enter URL">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <%= f.submit %>
              </div>
            </div>
          </div>
        </div>
      </div>

  <% end %>
</div>


