
<div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h3>Here's all your files</h3>
            <div class="bs-component">
                  <table class="table table-striped table-hover" style="height:100%; overflow-y:scroll">
                      <thead>
                        <tr>
                          <th>File name</th>
                          <th>File path</th>
                          <th>File type</th>
                          <th colspan="3">Actions</th>
                        </tr>
                      </thead>
                        <tbody>
                          <% @aggregates.each do |aggregate| %>
                            <tr class="active">
                              <td><%= aggregate.file_name %></td>
                              <td><%= aggregate.file %></td>
                              <td><%= aggregate.file_type %></td>
                              <td><%= link_to 'Show', aggregate, :class=>"btn btn-xs btn-success" %></td>
                              <td><%= link_to 'Edit', edit_aggregate_path(aggregate), :class=>"btn btn-xs btn-info" %></td>
                              <td><%= link_to 'Destroy', aggregate, method: :delete, :class=>"btn btn-xs btn-danger" ,data: { confirm: 'Are you sure?' } %></td>
                            </tr>
                          <% end %>
                        </tbody>
                  </table>
                <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
              </div>
          </div>
        </div>
    </div>
</div>
