
<div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-3">
                      <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#folder">Add Folder <span class="glyphicon glyphicon-folder-open"></span></button>
                    </div>
                    <div class="col-sm-3">
                      
                    <%=link_to "Add Local File", {:action=>:explore, :controller=>:aggregates, :path=>"home"}, :class=>"btn btn-default btn-lg btn-block" %>
                    </div>
                    <div class="col-sm-3">

                      <%=link_to "Add Online File", {:action=>:newOnline, :controller=>:aggregates}, :class=>"btn btn-default btn-lg btn-block" %>

                    </div>
                    <div class="col-sm-3">
                      <button type="button" class="btn btn-default btn-lg btn-block" data-toggle="modal" data-target="#myModal">Search <span class=" glyphicon glyphicon-search"></span></button>
                    </div>

                  </div>
            <div class="row">
                <div>
                  <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th></th>
                          <%if @orderby == "file_name"%>
                            <th class="text-info">File name</th>
                          <%else%>
                            <th><%= link_to "File name",
                           :action=>:index, :controller=>:aggregates, :orderby=>"file_name"%></th>
                          <%end%>

                          <th>Add to Folder</th>

                          <%if @orderby == "file_type"%>
                              <th class="text-info">File Type</th>
                          <%else%>
                              <th><%= link_to "File type",
                                              :action=>:index, :controller=>:aggregates,
                                              :orderby=>"file_type"%></th>
                          <%end%>

                          <%if @orderby =="file"%>
                            <th class="text-info">File Path</th>
                          <%else%>
                            <th><%= link_to "File Path",
                             :action=>:index, :controller=>:aggregates,
                             :orderby=>"file"%></th>
                          <%end%>

                          <th>Categories</th>



                          <%if @orderby == "created_at"%>
                            <th class="text-info">Created at</th>
                          <%else%>
                            <th><%= link_to "Created at",
                             :action=>:index, :controller=>:aggregates,
                             :orderby=>"created_at"%></th>
                          <%end%>

                          <%if @orderby == "updated_at"%>
                            <th class="text-info">Last Modified</th>
                          <%else%>
                            <th><%= link_to "Last Modified",
                             :action=>:index, :controller=>:aggregates,
                             :orderby=>"updated_at"%></th>
                          <%end%>

                        </tr>
                      </thead>
                        <tbody id="aggregates">
                          <% @aggregates.each do |aggregate| %>
                            <tr class="active" >
                              <%if aggregate.file_type == 'folder' %>
                                <td><%= image_tag "/images/folder_icon.png", style:"height:25px; width:25px"%></td>
                              <%else%>
                                <td><%= image_tag "/images/file_icon.png", style:"height:25px; width:25px"%></td>
                              <%end%>
                              <td>
                                <%= link_to aggregate.file_name, aggregate, :class=>"btn btn-xs btn-default", :style=>"margin:1%" %><br />
                                <% if aggregate.file_type == 'folder' %>
                                  <%= link_to url_for(:action=>:openFolder, :controller=>:aggregates, :folder_id=>aggregate.id), :class=>"btn btn-xs btn-success" do %>
                                      <span>Open Folder</span>
                                  <%end%>
                                <%end%>
                                <%= link_to edit_aggregate_path(aggregate), :class=>"btn btn-xs btn-info" do %>
                                    <span class="glyphicon glyphicon-pencil"></span>
                                <%end%>
                                <%= link_to aggregate, method: :delete, :class=>"btn btn-xs btn-danger" ,data: { confirm: 'Are you sure?' } do %>
                                    <span class="glyphicon glyphicon-trash"></span>
                                <%end%>
                              </td>
                              <td>

                                    <%= form_for :search, :url => url_for(:action=>'addFileToFolder', :controller=>'aggregates', :file_id=>aggregate.id), :method=>:get do |f| %>
                                        <div class="row">
                                          <div class="col-sm-12">
                                            <%

                                              if @folders != []
                                            %>

                                            <%= f.select :folder_name, options_for_select(@folders), :class => 'genForm_dropBox', :name=> 'folder_name' %>
                                                <input type="text" name="file_id" hidden value="<%= aggregate.id %>" style="width: 100%">
                                                <%if @containing_folderId != nil   %>
                                                  <input type="text" name="current_folder" hidden value="<%= @containing_folderId %>" style="width: 100%">
                                                <%end%>
                                          </div>
                                        </div>
                                        <div class="actions">
                                          <%= f.submit "Add"%>
                                        </div>
                                                <%
                                                  end
                                                %>

                                    <%end%>

                              </td>
                              <td><span class="badge" style="background-color: lightseagreen"><%= aggregate.file_type %></span></td>
                                <%
                                if aggregate.file_type != 'folder' && aggregate.file_type!='webpage'
                                  tempArray = aggregate.file.split("/")
                                  folderPath = tempArray[0..tempArray.size()-2].join("/")
                                  file=tempArray[tempArray.size()-1]
                                %>
                                  <td>
                                    <%selectedFolderPath = "" %>
                                    <% folderPath.split("/").each do |dir| %>
                                        <%if dir != nil && dir!="" %>
                                            <%selectedFolderPath = selectedFolderPath + "/" + dir %>
                                            <span class="badge" style="background-color: dodgerblue"><%= link_to dir, {:action=>:explore, :contoller=>:aggregates, :path=>selectedFolderPath},:style=>"color:white"%></span> /
                                        <%end%>
                                    <%end%>
                                    <span class="badge" style="background-color: grey"><%=file%></span>
                                  </td>
                               <%elsif aggregate.file_type == 'webpage'%>
                                      <td>
                                        <a href="<%=aggregate.file%>" class="badge" style="background-color: dodgerblue" target="_blank"><%= aggregate.file%></a>
                                      </td>
                               <%else%>
                                  <td></td>
                                  <%end%>
                                <td>
                                    <span class="badge" style="background-color: seagreen"><%=aggregate.categories.size%> categories</span>
                                    <span class="badge" style="background-color: mediumseagreen"><%=aggregate.subcategories.size%> Subcategories</span>
                                </td>
                                <td><span class="badge" style="background-color: darkred"><%= aggregate.created_at.strftime("%m-%d-%Y")%></span><span class="badge" style="background-color: indianred"><%= aggregate.created_at.strftime("%I:%M %p")%></span></td>

                                <td><span class="badge" style="background-color: darkred"><%= aggregate.updated_at.strftime("%m-%d-%Y")%></span><span class="badge" style="background-color: indianred"><%= aggregate.updated_at.strftime("%I:%M %p")%></span></td>
                                 </tr>
                              
                          <% end %>
                        </tbody>
                  </table>

                </div>
                </div>

               
                <!-- Modal -->
                
                    
                    
                    <!-- Modal -->
                    <%= render 'formSearch', categories: @categories %>

                   
                <!-- -->
                <div class="modal fade" id="folder" role="dialog">
                      <div class="modal-dialog modal-lg">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">New Folder</h4>
                          </div>
                          <div class="modal-body">
                            <%= render 'formfolder' %>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
              
          </div>
        </div>
    </div>
</div>




