<p id="notice"><%= notice %></p>
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
        <h2>Category</h2>
      </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="well">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-2 col-sm-6">
              <strong>Name:</strong>
              <%= @category.name %>
            </div>
            <div class="col-lg-2 col-sm-6">
              <span class="badge">
                <strong>Files:</strong><%= @category.aggregates.size %>
              </span>
            </div>
          </div>
        </div>

      </div>
      <%= link_to 'Create Sub-Category', {:action=>'new', :controller=>'subcategories',:category =>(@category.id)},:class=>"btn btn-default", :style=>"margin-bottom:1%" %>
      <%= link_to 'Back', {:action=>'index', :controller=>'categories'}, :class=>"btn btn-default", :style=>"margin-bottom:1%"%>
      <div class="well">
        <div class="container-fluid">
          <% @subcategories.each do |subcat| %>
              <div class="row">
                <div class="col-sm-12">
                  <td><%= link_to 'X', subcat, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-sm btn-danger" %></td>
                  <%= link_to subcat.name, edit_subcategory_path(subcat),:class=>"btn btn-sm btn-info" %>
                </div>
              </div>
              <div class="row" style="margin-top: 5px">
                <div class="col-sm-4">
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow=<%=subcat.aggregates.size*100.0/@category.aggregates.size %> aria-valuemin="0" aria-valuemax="100" style="width: <%=subcat.aggregates.size*100.0/@category.aggregates.size %>%">
                      <%=subcat.aggregates.size%> / <%= @category.aggregates.size%> Files <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>


